include ../hotel-card/hotel-card
include ../input-date-dropdown/input-date-dropdown
include ../input-dropdown/input-dropdown
include ../range-slider/range-slider
include ../checkbox-expandable/checkbox-expandable
include ../checkbox/checkbox
include ../pagination/pagination

mixin search-room-page({pageTitle, hotelCards, pagination, datesSelection, guestsSelection, rangeSlider, roomOptions, roomAvailability, roomFacilities, roomAdditionalFacilities})
  .search-room-page
    .search-room-page__content
      aside.search-room-page__filter-column
        .search-room-page__dates-selection
          h3.search-room-page__input-header= datesSelection.title
          +input-date-dropdown({placeholder: datesSelection.placeholder, type: datesSelection.type})
        .search-room-page__guests-selection
          h3.search-room-page__input-header= guestsSelection.title
          +input-dropdown({items: guestsSelection.items, placeholder: guestsSelection.placeholder, single: guestsSelection.single})
        .search-room-page__price-selection
          +range-slider(rangeSlider.title)
          p.search-room-page__price-selection-text= rangeSlider.text
        .search-room-page__room-options
          h3= roomOptions.title
          .search-room-page__room-options-group
            each option in roomOptions.options
              .search-room-page__room-options-button
                +checkbox(option)
        .search-room-page__room-availability
          h3= roomAvailability.title
          .search-room-page__room-availability-group
            each option in roomAvailability.options
              .search-room-page__room-availability-button
              +checkbox(option)   
        .search-room-page__room-facilities
          h3.search-room-page__input-header= roomFacilities.title
          +input-dropdown({items: roomFacilities.items, multiple: roomFacilities.multiple})  
        .search-room-page__room-additional-facilities
          +checkbox-expandable({title: roomAdditionalFacilities.title, items: roomAdditionalFacilities.items})
      section.search-room-page__room-cards
        h1.search-room-page__title= pageTitle
        .search-room-page__room-cards-grid
          each card in hotelCards
            .search-room-page__hotel-card
              +hotel-card (card)            
        .search-room-page__pagination
          +pagination(pagination)