include ../hotel-card/hotel-card
include ../input-date-dropdown/input-date-dropdown
include ../iqdropdown/iqdropdown
include ../range-slider/range-slider
include ../checkbox-expandable/checkbox-expandable
include ../checkbox/checkbox
include ../pagination/pagination

mixin page-search-room({pageTitle, hotelCards, pagination, datesSelection, guestsSelection, rangeSlider, roomOptions, roomAvailability, roomFacilities, roomAdditionalFacilities})
  .page-search-room
    .page-search-room__content
      aside.page-search-room__filter-column
        .page-search-room__dates-selection
          h3.page-search-room__input-header= datesSelection.title
          +input-date-dropdown({placeholder: datesSelection.placeholder, type: datesSelection.type})
        .page-search-room__guests-selection
          h3.page-search-room__input-header= guestsSelection.title
          +iqdropdown({items: guestsSelection.items, placeholder: guestsSelection.placeholder, single: guestsSelection.single})
        .page-search-room__price-selection
          +range-slider(rangeSlider.title)
          p.page-search-room__price-selection-text= rangeSlider.text
        .page-search-room__room-options
          h3.page-search-room__room-options-header= roomOptions.title
          .page-search-room__room-options-group
            each option in roomOptions.options
              .page-search-room__room-options-button
                +checkbox(option)
        .page-search-room__room-availability
          h3.page-search-room__room-availability-header= roomAvailability.title
          .page-search-room__room-availability-group
            each option in roomAvailability.options
              .page-search-room__room-availability-button
                +checkbox(option)   
        .page-search-room__room-facilities
          h3.page-search-room__input-header= roomFacilities.title
          +iqdropdown({items: roomFacilities.items, multiple: roomFacilities.multiple})  
        .page-search-room__room-additional-facilities
          +checkbox-expandable({title: roomAdditionalFacilities.title, items: roomAdditionalFacilities.items})
      section.page-search-room__room-cards
        h1.page-search-room__title= pageTitle
        .page-search-room__room-cards-grid
          each card in hotelCards
            .page-search-room__hotel-card
              +hotel-card (card)            
        .page-search-room__pagination
          +pagination(pagination)