mixin booking-header({roomNumber, roomType, roomPrice, measureUnits, inHotelCard})
  - const mods = [""]
  if inHotelCard
    - mods.push("_in-hotel-card")
  div(class=mods.map(mod => "booking-header" + mod))
    .booking-header__room-type
      span.booking-header__number-sign №
      span(class=mods.map(mod => "booking-header__room-number" + mod)) #{roomNumber}
      span.booking-header__type #{roomType}
    .booking-header__room-price
      span.booking-header__price #{roomPrice}#{measureUnits.rubles}
      span.booking-header__measure-unit #{measureUnits.day}