include ../logo/logo
include ../footer-column/footer-column
include ../input-subscription/input-subscription
include ../social-icons/social-icons

mixin footer({mainText, menu, subscription: {title, text, placeholder}, copyright, eng})
  - let mods = [""]
  if eng
    - mods.push("_eng")
  else
    - mods.push("_rus")
  div(class=mods.map(mod => "footer" + mod))
    section(class=mods.map(mod => "footer__main-section" + mod))
      .footer__company-info-block
        .footer__logo
          +logo({disabled:false})
        p.footer__company-info-block-text= mainText
      div(class=mods.map(mod => "footer__menu" + mod))
        each column in menu
          div(class=mods.map(mod => "footer__menu-column" + mod))
            +footer-column({title: column.title, links: column.links})
      .footer__subscription-block
        h3.footer__subscription-title= title
        p.footer__subscription-text= text
        .footer__input-subscription
          +input-subscription({placeholder: placeholder})
    section.footer__copyright-section
      p.footer__copyright-section-text= copyright
      .footer__social-icons
        +social-icons()
