include _dropdown/form__input_dropdown
mixin formInput(input_type, i_h, ph_txt, mod, wrap_mod, masked, dropdown, itemsNumber, ...itemName)
    .wrap-input(class=wrap_mod)
        .input-header #{i_h}
        if masked
            input(class='form-input' + ' ' + mod id='masked' type=input_type placeholder=ph_txt)
        else if dropdown
            +dropdownInput(itemsNumber, ...itemName)
        else
            input(class='form-input' + ' ' + mod  type=input_type placeholder=ph_txt)
        .material-icons