include ../checkbox/checkbox
include ../checkbox-expandable/checkbox-expandable
include ../toggle/toggle
include ../like-button/like-button
include ../radio-button/radio-button
include ../ratings/ratings
include ../button-big/button-big
include ../button-ghost/button-ghost
include ../button-small/button-small
include ../button-transparent/button-transparent
include ../pagination/pagination
include ../bullet-list/bullet-list
include ../room-icon/room-icon
include ../review/review
include ../calendar-inputs/calendar-inputs
include ../datepicker/datepicker
include ../range-slider/range-slider
include ../input/input
include ../input-dropdown/input-dropdown
include ../input-subscription/input-subscription
include ../input-date-dropdown/input-date-dropdown

mixin uikit-form-elements({inputs, smallButtons, buttons, dropdownInputs, lists, roomDetails})  
  .form-elements
    .form-elements__content
      section.form-elements__inputs
        .form-elements__input-default
          .form-elements__input-header
            h3= inputs.default.title
            span.form-elements__sub-title= inputs.default.subtitle
          +input({placeholder: inputs.default.placeholder, type: inputs.default.type})
        .form-elements__input-focus
          .form-elements__input-header
            h3= inputs.focus.title
            span.form-elements__sub-title= inputs.focus.subtitle
          +input({placeholder: inputs.focus.placeholder, type: inputs.focus.type, focused: inputs.focus.focused})
        .form-elements__input-dropdown
          .form-elements__input-header
            h3= inputs.dropdown.title
            span.form-elements__sub-title= inputs.dropdown.subtitle
          +input-dropdown({items: inputs.dropdown.items, placeholder: inputs.dropdown.placeholder, single: inputs.dropdown.single})
        .form-elements__input-masked
          .form-elements__input-header
            h3= inputs.masked.title
            span.form-elements__sub-title= inputs.masked.subtitle
          +input({placeholder: inputs.masked.placeholder, type: inputs.masked.type, masked: inputs.masked.masked})
        .form-elements__inputs-calendar
          +calendar-inputs(inputs.calendarInputs)
        .form-elements__input-date-dropdown
          .form-elements__input-header
            h3= inputs.dateDropdown.title
          +input-date-dropdown({placeholder: inputs.dateDropdown.placeholder, type: inputs.dateDropdown.type})  
        .form-elements__input-subscription
          .form-elements__input-header
            h3= inputs.subscription.title
          +input-subscription({placeholder: inputs.subscription.placeholder, type: inputs.subscription.type})

      section.form-elements__small-buttons
        .form-elements__checkbox-block
          h3= smallButtons.checkbox.title
          .form-elements__checkbox-block-group
            each option in smallButtons.checkbox.options
              .form-elements__checkbox-block-button
                +checkbox(option)
        .form-elements__radio-block
          h3= smallButtons.radio.title
          each option in smallButtons.radio.options
            .form-elements__radio-block-button
              +radio-button(option)
        .form-elements__toggle-block
          h3= smallButtons.toggle.title
          each option in smallButtons.toggle.options
            .form-elements__toggle-block-button   
              +toggle(option)
        .form-elements__like-block
          h3= smallButtons.likebutton.title
          each option in smallButtons.likebutton.options
            .form-elements__like-block-button 
              +like-button(option)
        .form-elements__ratings-block
          h3= smallButtons.rating.title
          each rating in smallButtons.rating.stars
            .form-elements__ratings-block-rating
              +rating(rating)

      section.form-elements__buttons
        .form-elements__range-slider
          +range-slider(buttons.rangeSlider.title)
        .form-elements__buttons-block
          h3= buttons.buttons.title
          .form-elements__small-buttons-block
            each button in buttons.buttons.buttonsSmall
              .form-elements__small-button
                +button-small(button)
          .form-elements__ghost-buttons-block
            each button in buttons.buttons.buttonsGhost
              .form-elements__ghost-button
                +button-ghost(button)
          .form-elements__transparent-buttons-block
            each button in buttons.buttons.buttonsTransparent
              .form-elements__transparent-button
                +button-transparent(button)
          .form-elements__big-button
            +button-big(buttons.buttons.buttonBig)
        .form-elements__pagination-block
          h3= buttons.pagination.title
          .form-elements__pagination
            +pagination({text: buttons.pagination.text, items: buttons.pagination.items})

      section.form-elements__dropdown-inputs
        .form-elements__dropdown-inputs-column
          .form-elements__wrap-dropdown-input
            .form-elements__input-header
              h3= dropdownInputs.title
              span.form-elements__sub-title= dropdownInputs.subtitle.default
            +input-dropdown(dropdownInputs.multiple) 
          .form-elements__wrap-dropdown-input
            .form-elements__input-header
              h3= dropdownInputs.title
              span.form-elements__sub-title= dropdownInputs.subtitle.expanded  
            +input-dropdown(dropdownInputs.multiple) 
        .form-elements__dropdown-inputs-column
          .form-elements__wrap-dropdown-input
            .form-elements__input-header
              h3= dropdownInputs.title 
            +input-dropdown(dropdownInputs.single)
        .form-elements__dropdown-inputs-column
          .form-elements__wrap-dropdown-input
            .form-elements__input-header
              h3= dropdownInputs.title 
            +input-dropdown(dropdownInputs.single)

      section.form-elements__lists
        .form-elements__lists-column 
          .form-elements__checkbox-expandable-block
            each group in lists.checkboxExpandable
              .form-elements__checkbox-expandable-block-group
                +checkbox-expandable(group)
        .form-elements__lists-column 
          .form-elements__checkbox-rich-block 
            h3= lists.checkboxRich.title
            .form-elements__checkbox-rich-block-group
              each group in lists.checkboxRich.group
                .form-elements__checkbox-rich-block-button
                  +checkbox(group)    
        .form-elements__lists-column 
          .form-elements__bullet-list-block
            h3= lists.bullet.title
            .form-elements__bullet-list-block-group
              +bullet-list({items: lists.bullet.items})   

      section.form-elements__room-details
        .form-elements__room-details-column
          each icon in roomDetails.roomIcons
            .form-elements__room-icon
              +room-icon(icon)
        .form-elements__room-details-column
          .form-elements__room-review
            +review({image: roomDetails.review.image, author: roomDetails.review.author, date: roomDetails.review.date, text: roomDetails.review.text, likeNumber: roomDetails.review.likeNumber, likeChecked: roomDetails.review.likeChecked})