mixin pagination({items, text})
  .pagination
    .pagination__control.pagination__control_prev
    .pagination__button.pagination__button_active= items[0]
    if items.length > 4
      - let i = 0;
      while i < 2
        .pagination__button= items[++i]
      .pagination__divider ...
      .pagination__button= items[items.length-1]
    else 
      each item, index in items
        if index > 0
          .pagination__button= items[index]
    .pagination__control.pagination__control_next
  .pagination__caption= text



