include ../review/review
include ../room-icon/room-icon
include ../bullet-list/bullet-list
include ../donut-chart/donut-chart
include ../form-booking/form-booking

mixin page-room-details({gallery, roomIcons, chart, formBooking, reviews, bulletList, shortText})
  .room-details-page
    .room-details-page__gallery
      .room-details-page__main-image
        img(src=require("../modules/page-room-details/images/" + gallery.main) alt="Main gallery image")
      .room-details-page__small-image
        img(src=require("../modules/page-room-details/images/" + gallery.small1) alt="Small gallery image 1")
      .room-details-page__small-image
        img(src=require("../modules/page-room-details/images/" + gallery.small2) alt="Small gallery image 2")
    .room-details-page__content
      .room-details-page__icons-charts
        .room-details-page__room-icons
          h2= roomIcons.title
            each icon in roomIcons.icons
              .room-details-page__icon
                +room-icon(icon)
        .room-details-page__room-chart
          h2.room-details-page__room-chart-title= chart.title
          .room-details-page__chart
            +donut-chart()
      .room-details-page__booking-form
        +form-booking(formBooking)
      .room-details-page__room-reviews
        .room-details-page__header
          h2= reviews.title
          span.room-details-page__review-number= reviews.amount
        each text in reviews.texts
          .room-details-page__review
            +review(text)
      .room-details-page__text-block
        .room-details-page__bullet-list
          h2.room-details-page__bullet-list-header= bulletList.title
          .room-details-page__bullet-list-group
            +bullet-list({items: bulletList.items})
        .room-details-page__short-text
          h2= shortText.title
          p.room-details-page__text= shortText.text