include ../review/review
include ../room-icon/room-icon
include ../bullet-list/bullet-list
include ../chart/chart
include ../form-booking/form-booking

mixin page-room-details({gallery, roomIcons, chart, formBooking, reviews, bulletList, shortText})
  .page-room-details
    .page-room-details__gallery
      .page-room-details__main-image
        img(src=require("../modules/page-room-details/images/" + gallery.main) class="page-room-details__gallery-img" alt="Main gallery image")
      .page-room-details__small-image
        img(src=require("../modules/page-room-details/images/" + gallery.small1) class="page-room-details__gallery-img" alt="Small gallery image 1")
      .page-room-details__small-image
        img(src=require("../modules/page-room-details/images/" + gallery.small2) class="page-room-details__gallery-img" alt="Small gallery image 2")
    .page-room-details__content
      .page-room-details__icons-charts
        .page-room-details__room-icons
          h2= roomIcons.title
            each icon in roomIcons.icons
              .page-room-details__icon
                +room-icon(icon)
        .page-room-details__room-chart
          h2.page-room-details__room-chart-title= chart.title
          .page-room-details__chart
            +chart()
      .page-room-details__booking-form
        +form-booking(formBooking)
      .page-room-details__room-reviews
        .page-room-details__header
          h2= reviews.title
          .page-room-details__review-number= reviews.amount
        each text in reviews.texts
          .page-room-details__review
            +review(text)
      .page-room-details__text-block
        .page-room-details__bullet-list
          h2.page-room-details__bullet-list-header= bulletList.title
          .page-room-details__bullet-list-group
            +bullet-list({items: bulletList.items})
        .page-room-details__short-text
          h2= shortText.title
          p.page-room-details__text= shortText.text