mixin checkbox({title, name, value, description, rich, checked})
  - const mods = [""]
  if rich
    - mods.push("_rich")
  label(class=mods.map(mod => "checkbox" + mod))
    input(class="checkbox__input" type="checkbox", name=name, value=value, checked=checked)
    div(class=mods.map(mod => "checkbox__title" + mod))= title
      div(class=mods.map(mod => "checkbox__description" + mod))= description
