mixin checkbox({title, name, value, description, rich, checked})
  - let classes = ['checkbox-button']
  if rich
    - classes.push('checkbox-button_rich')
  label(class=classes)
    input(class='checkbox-button__input' type='checkbox', name=name, value=value, checked=checked)
    .checkbox-button__title #{title}
      .checkbox-button__description #{description}
