include ../booking-header/booking-header
include ../calendar-inputs/calendar-inputs
include ../iqdropdown/iqdropdown
include ../form-footer/form-footer

mixin form-booking({header, dateInputs, guestsInput, priceList, footer})
  .form-booking
    form.form-booking__form
      .form-booking__header 
        +booking-header(header)
      .form-booking__calendar-inputs
        +calendar-inputs(dateInputs)      
      .form-booking__input-dropdown
        h3.form-booking__input-dropdown-header= guestsInput.header
        +iqdropdown({items: guestsInput.items, placeholder: guestsInput.placeholder, single: guestsInput.single})
      .form-booking__price-list
        each row in priceList.items
          .form-booking__price-list-item
            if row.withIcon
              .form-booking__item.form-booking__item_with-icon= row.item
            else 
              .form-booking__item= row.item
            .form-booking__item-price= row.itemPrice
        .form-booking__price-list-final 
          .form-booking__item-final= priceList.final
          .form-booking__item-final-divider
          .form-booking__item-price-final= priceList.finalPrice
      .form-booking__footer
        +form-footer(footer)