include ../booking-header/booking-header
include ../calendar-inputs/calendar-inputs
include ../input-dropdown/input-dropdown
include ../form-footer/form-footer

mixin form-booking({header, dateInputs, guestsInput, priceList, footer})
  .booking
    form.booking__form
      .booking__header 
        +booking-header(header)
      .booking__calendar-inputs
        +calendar-inputs(dateInputs)      
      .booking__input-dropdown
        h3.booking__input-dropdown-header= guestsInput.header
        +input-dropdown({items: guestsInput.items, placeholder: guestsInput.placeholder, single: guestsInput.single})
      .booking__price-list
        each row in priceList.items
          .booking__price-list-item
            .booking__item= row.item
            .booking__item-price= row.itemPrice
        .booking__price-list-final 
          .booking__item-final= priceList.final
          .booking__item-final-divider
          .booking__item-price-final= priceList.finalPrice
      .booking__footer
        +form-footer(footer)